[2021-07-21 16:07] DaveSkender opened #2 "Chore: update initial README and Guide docs"
As we migrated out of the main Stock.Indicators repo, we copied over the README.md and GUIDE.md files that contain C# code examples.  We'll need to update these to appropriate Python equivalents.  Noted in #1.

[2021-08-16 05:41] LeeDongGeon1996 opened #5 "Tests: update test data"
It seems like that the file containing test data is changed into CSV from spread sheet.
Is it okay to keep using spread sheet file for our test?

[2021-08-18 06:23] #5 closed, assigned to nobody

[2021-08-21 09:34] LeeDongGeon1996 opened #8 "Style: way of method overloading"
![cc1](https://user-images.githubusercontent.com/38756230/130317493-2025806d-92a1-4ab4-9c42-2eb9673ef038.JPG)
 * Real method overloading.
 * Needs a bit of dummy code since Python doesn't support method overloading.

![cc2](https://user-images.githubusercontent.com/38756230/130317498-bed3c7b5-15c3-4387-8f03-c6d52d80a8c3.JPG)
 * More Python-like code.
 * No need dummy code.

Which one do you think

[2021-08-24 11:56] #8 closed, assigned to nobody

[2021-08-24 11:59] #2 closed, assigned to nobody

[2021-09-10 04:49] LeeDongGeon1996 opened #13 "Conversion issue of Pythonnet for Enum class"
## The problem

  - Cannot pass Python Enum as C# Enum.
  - Pythonnet automatically converts C# Enums to `int`.
  - It seems like 'Pythonnet' is still trying to fix this issue. They said this problem will be fixed in version 3.0 and I think we cannot wait for it. The milestone for version 3.0 indicates  41% yet.

Error message(s):
In Macbook Air(M1), Pythonnet uses Mono runtime for .Net.
Error mes

[2021-10-14 07:17] LeeDongGeon1996 opened #29 "Package name"
I think the name we are using now is too long and does not comply with [PEP 8](https://www.python.org/dev/peps/pep-0008/#package-and-module-names), which is saying that "*Python packages should also have short, all-lowercase names, although the use of underscores is discouraged.*".
Is there any idea about it?

Suggestions:
[code]

[2021-10-19 15:04] #29 closed, assigned to nobody

[2021-10-23 22:04] DaveSkender opened #38 "Auto-increment versions in build"
One thing I'm going to want to do in the build before we do a public publish is to auto-update the version number in the build process.  The `GitVersion` build task produces an environment variable `$(GitVersion.MajorMinorPatch)` that I think we can use to text replace  `version="0.0.0"` in `setup.py`.  I'm not sure of the best way to do that with Python commands; however, the worst case is we jus

[2021-10-24 16:23] DaveSkender opened #44 "add MacOS in build test matrix"
It’s probably a good idea for us to test on `MacOS-latest` as well, since I hope this library will work there too?

[2021-10-30 08:05] #44 closed, assigned to nobody

[2021-10-30 08:25] LeeDongGeon1996 opened #46 "Update activating Anaconda env in Azure Pipelines"
The example for Anaconda env in Azure documentation is not correct.
Currently, This is currently working with a workaround and should be updated later.

https://github.com/DaveSkender/Stock.Indicators.Python/blob/74f3c13df868a57ab35b57fd3ca4f783202b232e/.github/build.main.yml#L172-L175

https://github.com/DaveSkender/Stock.Indicators.Python/blob/74f3c13df868a57ab35b57fd3ca4f783202b232e/.github/bui

[2021-11-17 04:55] #38 closed

[2021-11-17 05:02] LeeDongGeon1996 commented on #38
@DaveSkender Works well!

[2021-11-17 05:16] DaveSkender commented on #38
When I get a moment, I’ll setup the test PyPI and regular PyPI account endpoints.

[2021-11-18 11:16] LeeDongGeon1996 opened #51 "Init documentation"
I think that, for the documentation for Python version, what we just need to do is fine-tuning its C# documentation. So I'm going to copy doc files to start writing docs. So it'll be appreciated if you can setup github-page so that we can see the preview while writing. Is there any other thought about it?

[2021-11-18 14:25] DaveSkender commented on #51
Yeah, I think we just copy that `docs` folder over (and remove indicators we haven't implemented yet), then tweak to reflect Python syntax usage.  You should be able to build and view the site locally by following the instructions in `contributing.md`.  I can turn on GitHub Pages when we're ready to deploy a public site.  A couple of thoughts:

1. I'd suggest we leave the Discussion links going to

[2021-11-21 14:49] cryptocoinserver commented on #13
They published v3 as alpha: https://github.com/pythonnet/pythonnet/issues/1513#issuecomment-974087411
`"I have published the current master version as alpha1 to pypi."`

[2021-11-21 15:53] LeeDongGeon1996 commented on #13
@cryptocoinserver Thank you for letting me know! I'll try with it when I get a moment in a short time.

[2021-11-25 14:04] LeeDongGeon1996 opened #58 "`IEnumerable` won't be auto-converted in pythonnet 3.0.0"
## The problem

Pythonnet will not convert `IEnumerable` of C# to `list` of Python anymore from the version 3.0.0.
Our `_verify_data()` method checks the data is subclass of `list` or not and so it'll never be passed.
That means testcases will be failed if we use pythonnet 3.0.0.

https://github.com/DaveSkender/Stock.Indicators.Python/blob/36c45c5d118d360e4a40650996cee1690fe329f0/stock_indicators/

[2021-11-25 14:06] LeeDongGeon1996 commented on #58
I will fix it after bumping up pythonnet version.

[2021-11-29 06:51] DaveSkender opened #62 "Initial release v0.1.0"
@LeeDongGeon1996 now that you've been able to establish a decent baseline approach, let's discuss some of the next steps towards an initial release and making the repo public.  I'd like to do this once we have a core of about 15 of the most popular indicators implemented and working well so we can both start getting user feedback and potentially more community contribution.

To get to an initial v

[2021-11-30 14:29] LeeDongGeon1996 opened #63 "Need to update MACD"
- Need to add wrappers for new attributes in MACD
   - `fast_ema`
   - `slow_ema`

[2021-12-01 14:26] LeeDongGeon1996 opened #65 "Need to update Beta"
Need to add wrappers for new attributes in Beta
 - `beta_up`
 - `beta_down`
 - `ratio`
 - `convexity`

[2021-12-01 15:26] #63 closed

[2021-12-01 15:40] LeeDongGeon1996 commented on #65
To implement this feature, Enum class is needed.

[2021-12-02 15:02] LeeDongGeon1996 commented on #58
@DaveSkender While testing to bump up pythonnet, I've figured out that pythonnet v3.0.0-alpha is 2~3x slower than v2.5.2 we are currently using. Actually this problem is out of our control, but now, I'm just curious about specific level of performance for product(release) version. I don't have any idea how much of performance achievement can be accepted for end-users. I think you might have some i

[2021-12-02 16:53] DaveSkender commented on #58
My general thought is complex on this issue:

1. It's probably okay for casual users; but, will be a problem for high-frequency or large data users.
2. It's probably okay to do an initial release v0.1.0 and continue to work on it; hopefully with more community feedback
3. There are probably some things I can do in the core DLL to improve its performance on some of the slower indicators, so that ca

[2021-12-02 17:29] DaveSkender commented on #62
@LeeDongGeon1996 let's do a final sanity check on the package from the end-users perspective.  Have you tried to download (internal) and use it, and are comfortable with usability?  Once we wrap up docs, I think we can publish this initial release, as long as the package is solid.

[2021-12-03 01:56] LeeDongGeon1996 commented on #58
Thank you for your answer. 5 would be one of the good way we should go. I thought we are close to `done`, but now it sounds like we've just started, haha

[2021-12-05 06:21] LeeDongGeon1996 commented on #62
Yeah, I tried and there's no any difficulties or trouble. Also, the indicator methods are very simple so that, with our documentation, users can easily get the results from it.

Plus, we need to release newer package including latest changes to Internal. It can allow us to test latest package from users perspective.

[2021-12-05 07:41] #51 closed

[2021-12-05 07:47] DaveSkender commented on #62
Go ahead and publish to Internal if you think we have a release candidate.  I’ve merged the doc site branch.

[2021-12-05 07:48] LeeDongGeon1996 commented on #62
That's great. 👍

[2021-12-05 08:00] DaveSkender commented on #62
I’ll take a look at getting the deployment pipeline finalized tomorrow, it’s getting late here … 3am 🤪.  After you check the package, let me know if we need to add anymore checklist items above.  If not, I’ll work through the rest, including actual deployment to PyPI.

[2021-12-05 08:12] LeeDongGeon1996 commented on #62
Oh, it's too late. Take a rest 😄. I'll have a look if there's something more to be done.

[2021-12-05 08:58] LeeDongGeon1996 commented on #62
1. Cannot release to Internal.
    The version of package is calculated by gitversion and current version is fixed as 0.1.0, which we are going to release to public.  In this case, I need to release v0.0.2 for end-user testing, but currently we can't specify its version by ourselves. Release pipeline uses Artifacts with the version(0.1.0) from gitversion.
    To resolve, we need to change pipeline

[2021-12-05 09:38] DaveSkender commented on #62
See if you can deploy the last PR build instead:
https://dev.azure.com/skender/Stock.Indicators/_build/results?buildId=3839&view=results

[2021-12-05 23:22] DaveSkender commented on #62
For now, I've just deployed it to PyPI test site: https://test.pypi.org/project/stock-indicators/
Give it shot and I'll deploy to the full site if it's working okay for you.

[2021-12-05 23:25] DaveSkender commented on #62
Also, send me your PyPI.org username and I'll add you as a Maintainer.

[2021-12-06 02:21] DaveSkender commented on #62
I just went ahead and released it.  Worst case, we bump to a 0.1.1 version quickly if there are problems.
https://pypi.org/project/stock-indicators/

[2021-12-06 04:23] LeeDongGeon1996 commented on #62
@DaveSkender Wonderful!!😆 Finally, we did it. It was nice to work together. Let's keep our working and make it better.

My PyPI: LeeDongGeon1996

[2021-12-07 05:21] LeeDongGeon1996 commented on #13
The preview of pythonnet still can not call correct overloaded function with Enum arguments, though Enum is not auto-converted to int anymore.

[2021-12-07 05:44] DaveSkender commented on #13
Let’s just keep an eye it to see where the end up.  We can focus on the more dominant indicator methods. The overloads are mostly used to add extra features that are not as important or common.

[2021-12-07 05:46] LeeDongGeon1996 commented on #13
Agree with that.

[2021-12-07 12:46] LeeDongGeon1996 opened #78 "Refactor test data"
It seems like the test data including whole period of results for each indicator is ready to be used. If it is correct, I'm planning to write unit tests using xlsx files in each indicator directory. Is it available now?

 - https://github.com/DaveSkender/Stock.Indicators/pull/553

[2021-12-07 13:32] LeeDongGeon1996 commented on #78
Can I know the reason why you are not using them?

[2021-12-07 13:48] DaveSkender commented on #78
1. I tend to clean up the Excel files for formatting so they tend to not have a stable layout that might break the test data importer.  Since I tend to do TDD, it's not unusual for me to come back and revise the reconcile calculations throughout the development process.
2. I do actually review the full results and compare them.  In the spreadsheets, you'll see manual calcs (blue table) and indicat

[2021-12-07 14:48] DaveSkender commented on #62
@LeeDongGeon1996 feel free to close this if you've done your sanity check on it.

[2021-12-08 02:12] #62 closed

[2021-12-08 13:23] LeeDongGeon1996 commented on #78
Your words make sense. I thought using spreadsheet having whole period of results can make writing unittest faster, without losing its original goal.
Anyway, I'll put off switching it.

[2021-12-08 13:23] #78 closed

[2021-12-10 15:39] LeeDongGeon1996 opened #82 "Can't call overloaded method with template parameters"
## Problem

There's still no way to call methods with template parameters.

 - parabolic SAR
 - ichimoku
 - gator
 - Williams Fractal

## Related issue

- https://github.com/pythonnet/pythonnet/issues/1522

[2021-12-28 20:43] DaveSkender commented on #13
I just had a random thought.  Can we accept a `string` parameter and the have some sort of mapping internally, or is it that we simply cannot call the DLL at all when `enum` is specified?

[2021-12-29 02:07] LeeDongGeon1996 commented on #13
For now, it is.

Yes, this can be one of the good workarounds, but the mapping has to be done inside the DLL. For the wrapper users, I can make them just use Enum having str value.

[2022-01-07 02:32] LeeDongGeon1996 opened #94 "Release v0.2.0"
Let's release next preview version v0.2.0. I think it would be great to release every 10 indicators with bumping up minor version.

 - [x] Add 10+ new indicators.
 - [x] Review documentation and docstrings(#80).
 - [x] Final sanity check and code style.
 - [x] Release to PyPI.
- [x] apply release description to tag

[2022-01-07 03:52] DaveSkender commented on #94
Yah, that sounds like a good plan + take care of any general improvements along the way.

[2022-01-07 06:40] LeeDongGeon1996 commented on #94
@DaveSkender  I mis-counted newly added indicators. It's already 10. If you have time, please check the docs for new indicators :)
I'll have a sanity check and add some inline docstrings.

[2022-01-10 05:01] DaveSkender commented on #94
Anything else to do?

[2022-01-10 05:03] LeeDongGeon1996 commented on #94
Yeah, some style checks left, with Pylint. I'll leave a comment when it's done.

[2022-01-10 05:16] DaveSkender commented on #94
Cool.  Add PyLint to the build, if helpful.  Also, if that will be the last PR we’ll Ned to remember to add the version increment command in the PR merge comment.

[2022-01-10 05:47] LeeDongGeon1996 commented on #94
Okay, 104 will be the last PR for this version.

[2022-01-12 13:57] LeeDongGeon1996 commented on #94
Everything is done. Let's release!👍

[2022-01-12 14:49] DaveSkender commented on #94
Do you want to create the release note?

[2022-01-12 14:49] DaveSkender commented on #94
Do you want to create the release note?

[2022-01-12 14:56] LeeDongGeon1996 commented on #94
Yep, I'd love to. I'll do that tomorrow.

[2022-01-12 20:46] DaveSkender commented on #94
Not sure if you've done this before, basically you convert the v0.2.0 tag into a release, here:
https://github.com/DaveSkender/Stock.Indicators.Python/releases

[2022-01-13 04:18] LeeDongGeon1996 commented on #94
@DaveSkender  Thank you for letting me know. I've just written release note!

[2022-01-13 05:25] DaveSkender commented on #94
Very nice, well done!  From the emoji, looks like you made some people quite happy.

[2022-01-13 05:25] #94 closed

[2022-01-13 07:49] LeeDongGeon1996 commented on #94
lol, I forced them to click.

[2022-01-19 08:50] LeeDongGeon1996 opened #120 "Release v0.3.0"
New features are almost ready to be released.

Here's the checklist for releasing v0.3.0:
 - [x] Add 10+ new indicators.
 - [x] Write corresponding documentation and review. (#122)
 - [x] Add docstrings.
 - [x] Final sanity check and code style.
 - [x] Release to PyPI.
 - [x] Apply release description to tag.

[2022-01-20 07:26] DaveSkender commented on #120
On a side note, please skip implementation of Marubozu for now, when you get to that one .  I’m updating the convention on how we’ll do candlestick patterns.

[2022-01-20 07:45] LeeDongGeon1996 commented on #120
Yep, thank you for that. Marubozu will not included in this release.

[2022-01-25 15:17] DaveSkender commented on #120
Probably better to wait for and use the tag created in the release process, instead of doing it before the package s available.  Once the Release note is created from the tag, people get notified and will expect the package to be available.

[2022-01-25 15:17] #120 closed

[2022-01-26 04:20] LeeDongGeon1996 commented on #120
Ah, that's why I felt something different that has to tag manually. Okay, I'll keep that in mind.

[2022-02-03 04:02] LeeDongGeon1996 opened #141 "Release v0.4.0"
New features are almost ready to be released.

Here's the checklist for releasing v0.4.0:
 - [x] Add 10+ new indicators.
 - [x] Write corresponding documentation and review. (#143 )
 - [x] Add docstrings.
 - [x] Update benchmarks.(#145 )
 - [x] Final sanity check and code style.
 - [x] Release to PyPI.
 - [x] Apply release description to tag.

[2022-02-05 06:34] DaveSkender commented on #141
Yay! 🚀

[2022-02-05 06:36] DaveSkender commented on #141
If you don’t mind, please also move appropriate items to done in the project backlog.  I suspect we’re getting close to being caught up.

[2022-02-05 06:48] LeeDongGeon1996 commented on #141
@DaveSkender Okay🚀🚀, looking forward to releasing version1.0

[2022-02-05 06:48] #141 closed

[2022-02-24 08:00] LeeDongGeon1996 opened #159 "Release v0.5.0"
New features are almost ready to be released.

Here's the checklist for releasing v0.5.0:
 - [ ] Add 10+ new indicators.
 - [ ] Write corresponding documentation and review. (# )
 - [ ] Add docstrings.
 - [ ] Update benchmarks.(# )
 - [ ] Final sanity check and code style.
 - [ ] Release to PyPI.
 - [ ] Apply release description to tag.

[2022-02-27 01:55] DaveSkender commented on #159
I've published the package

[2022-02-27 06:20] LeeDongGeon1996 commented on #159
Thanks.

[2022-02-28 03:01] DaveSkender commented on #13
If we add fixed integer values for these `enum` in the DLL then it might be possible for the wrapper to just map from `string` to these fixed `int` values without further mapping in the DLL?  might be worth an experiment.

does Python have an equivalent concept for `enum`?

[2022-02-28 07:38] LeeDongGeon1996 commented on #13
Yeah, if C# interface can accept `int` instead of `Enum`, the wrapper will be able to support it as Enum on Python user level. But [the milestone for 3.0.0](https://github.com/pythonnet/pythonnet/milestone/6) indicates 91% of progress and it includes all fixes of our problem. How about waiting a bit more until we wrap the rests?

[2022-02-28 14:29] DaveSkender commented on #13
Yes, waiting is fine, not urgent.  I only mentioned it as I was browsing open issues.

[2022-03-07 09:03] LeeDongGeon1996 opened #168 "Marubozu with CandleResult"
@DaveSkender I'm going to wrap Marubozu indicator, and I heard that you were refactoring it, is it available now?

And Marubozu returns `CandleResult`, including `CandleProperties`. So I'm also need to wrap `CandleProperties`. There are getters and setters for the properties of `CandleProperties`, for example, `Size` is calculated by `High - Low` when the moments it's called. Then, how does getter

[2022-03-07 16:23] DaveSkender commented on #168
I can probably simplify this `CandleProperties` class a bit.  Since many of those are calculated values, it may not need a public setter.

[2022-03-07 17:35] DaveSkender commented on #168
It's also okay to hold off on these candlestick patterns.  I have both Marubozu and Doji in Preview status, so there still a chance a few things will change with our approach.

[2022-03-08 05:32] LeeDongGeon1996 commented on #168
Oh, sorry. I thought that properties of `CandleProperties` have setters, but it doesn't.

[2022-03-08 14:55] LeeDongGeon1996 commented on #168
Then, please reopen or create new issue when you have changes on Marubozu :)

[2022-03-08 14:55] #168 closed

[2022-03-14 09:54] LeeDongGeon1996 commented on #13
I just have checked methods with Enum parameter again and found that most of them are not overloaded. Then, it will be able to support Enum parameter in next release.

[2022-03-14 10:38] LeeDongGeon1996 opened #180 "Manual DLL update in Piplines"
We should consider updating DLL manually. In Piplines, using the latest DLL automatically can cause failure on tests because the DLL is not updated automatically in development environment. And that old DLL is used when new feature is committed. This interrupts tests for new feature and forces to order tasks to pass testcase.

[2022-03-14 11:12] LeeDongGeon1996 opened #181 "Release v0.6.0"
New features are almost ready to be released.

Here's the checklist for releasing v0.6.0:
 - [x] Add remaining indicators.
 - [x] Write corresponding documentation and review. (#182 )
 - [x] Add docstrings.
 - [x] Update benchmarks.(#183 )
 - [x] Final sanity check and code style.
 - [x] Release to PyPI.
 - [x] Apply release description to tag.

[2022-03-14 14:01] DaveSkender commented on #180
We’ll, it ensures that an official production copy is used (same version that was sent to NuGet) + it reminds us that it needs to be updated regularly, when it breaks 😀.

I’m okay with manual-only if those two condition can still be met.

[2022-03-15 09:00] LeeDongGeon1996 commented on #180
Yeah, above two conditions are important, but this wrapper is still catching up C# implementation. So sometimes these condition disturb adding new feature(like #178). It would be also good if we enable auto-update dll after v1.0

[2022-03-17 14:57] LeeDongGeon1996 commented on #181
@DaveSkender There's an error in creating new tag. Do we need to tag manually..?

[2022-03-18 07:28] LeeDongGeon1996 commented on #181
I've just tagged and published release note. And I except that the next release will be the first official release, we might need to discuss some requirements and check its functionality on the next issue :)

[2022-03-18 07:28] #181 closed

[2022-03-22 17:07] LeeDongGeon1996 opened #187 "Support comparison between C# enum with `int`"
To support comparison between C# enum with `int`, the wrapper Enum class should be the subclass of `IntEnum`. But for now, it is hard to fetch `int` value from C# `enum` member.

Fortunately, the next release of pythonnet will enable `int(enum.member)` to get value from `enum`. We'll be able to support this feature after bumping pythonnet to 3.0.0.

#### Related issue
 - https://github.com/pythonn

[2022-03-22 17:28] LeeDongGeon1996 opened #188 "Migrate test data from `.xlsx` to `.csv`"
We are currently using the test data from spread sheet(`.xlsx`) and going to migrate it to `.csv` file.
 1. The data should be separated by "sheet" and saved as `.csv`.
 2. `conftest.py` has to be changed to read `.csv` data.

This update is not urgent or strictly required. But PR is always welcome.

[2022-03-22 17:30] #13 closed

[2022-03-22 17:30] #58 closed

[2022-03-22 17:31] DaveSkender commented on #187
If its helpful to discretely define at `int` or to provide specific `int` values to `enum` in the main library, let me know.

[2022-03-22 17:47] LeeDongGeon1996 commented on #187
It is just a problem only when someone wants to use Enum as `int`. No functional disturbance there. So no needs to do something in C#. Thanks.

+) I can't expect what happens to wrapper for `enum` without explicit `int` value like `CandlePart`, `MaType`. If they have implicitly assigned `int` value, it won't be the problem.

[2022-03-23 05:39] LeeDongGeon1996 opened #189 "Release v1.0.0 requirements 🎯"
Only few more steps are left for official v1.0.0 release.

Here's the checklist for releasing v1.0.0:
(Please feel free to add more items)

**Features**
 - [ ] Add remaining indicators.
 - [ ] Update existing indicators.
 - [ ] Final API check.

**Tests**
 - [ ] Update benchmarks.(#)
 - [ ] Add benchmark result to docs.
 - [ ] Add return `type` check.
 - [ ] Check if there's something more to test

[2022-03-23 13:31] DaveSkender commented on #189
I think a key element here, before we flip it to v1.0.0 is to ensure that it’s stable.  There’s a couple ways to do this:

- dogfood it.  Use the library in your own use case for a while, at least a couple months.
- just wait, for more user feedback.  This could take 3-6 months, depending on how much usage

[2022-03-23 16:38] #65 closed

[2022-03-25 08:17] LeeDongGeon1996 commented on #189
Yeah, the silver lining is that we are gradually getting more users according to Google Analytics.

[2022-03-26 07:14] LeeDongGeon1996 commented on #82
@DaveSkender Could you combine two overloaded interface of `GetEMA()` if there's no problem. Then we can support `CandlePart` as its parameter with current pythonnet version.

[2022-03-26 07:35] DaveSkender commented on #82
I’ll take a look

[2022-03-26 07:45] LeeDongGeon1996 commented on #82
@DaveSkender Thanks

[2022-03-28 14:31] Smidelis opened #197 "Install error 'The version specified ('egg_info') is an invalid version'"
### The problem

Hi, first of all thanks for the great work! I am running [Freqtrade](https://github.com/freqtrade/freqtrade/) via docker and wanted to import your indicators into my strategy. I am using a custom dockerfile to install `stock-indicators`. I couldnt install the version from PyPI (`pip3 install stock-indicators`) because it's still using `pythonnet==2.5.2` which throws an error durin

[2022-03-28 16:36] LeeDongGeon1996 commented on #197
Hi, thank you for being our user and detail report. Based on my experience, it was not easy to troubleshoot when installing pythonnet.

There are two solutions for you:
1. (RECOMMENDED)If you are available to use Conda environment, I recommend you to run `conda install -c conda-forge pythonnet` for pythonnet and use our current official release.
2. Or, if you still want to install directly from re

[2022-03-28 20:24] Smidelis commented on #197
Thanks for your answer!
1. I want to keep freqtrade as default as possible, so i tried without installing conda.
2. Got it running with the following line in my custom dockerfile `RUN git clone https://github.com/DaveSkender/Stock.Indicators.Python.git && cd Stock.Indicators.Python/ && python3 setup.py 0.6.1 bdist_wheel && pip3 install dist/stock_indicators-0.6.1-py3-none-any.whl`

The build is co

[2022-03-29 04:21] LeeDongGeon1996 commented on #197
Looks like the error is from pythonnet and it's telling you don't have Mono runtime on your system. To use pythonnet, you must have Mono runtime installed.
 - https://github.com/pythonnet/pythonnet/issues/1551
 - https://www.mono-project.com/download/stable/#download-lin-ubuntu

[2022-03-29 10:05] Smidelis commented on #197
Thanks for yor links, managed to get it installed from the mono-project page instructions.
Unfortunately getting a different error now.
[code]
The variable `dataframe` is a pandas dataframe containing the ohlcv data e.g. close price would be `dataframe['close']`. With `dataframe['sma']` i'm adding another series with the sma prices. I dont know what exactly you are expecting as `quotes`. Is this e

[2022-03-29 12:46] LeeDongGeon1996 commented on #197
Yeah, it's about the parameter. You are passing `pandas.dataframe` instance as a `quote`. But our library has its own `Quote` class, `Skender.Stock.Indicators.Quote`, as you can see through the stack trace. You have to pass Iterable instance of our `Quote` class.

We have already well-organized documentation, please refer to:
 - [get_sma()](https://daveskender.github.io/Stock.Indicators.Python/ind

[2022-03-30 15:26] LeeDongGeon1996 commented on #197
Thank you for the good first issue. If you have further questions, always welcome :)

[2022-03-30 15:26] #197 closed, assigned to nobody

[2022-04-10 16:12] LeeDongGeon1996 commented on #180
Almost caught up C# implementation, so it's obsolete.

[2022-04-10 16:12] #180 closed

[2022-04-13 15:54] #46 closed, assigned to LeeDongGeon1996

[2022-05-07 23:52] DaveSkender opened #227 "KVO docs typo"
Documented KVO method should be fixed and not reflect Keltner.  Typo.  We'll need to also review the parameters and for other missing items while we taking a look.

_Originally posted by @August1328 in https://github.com/DaveSkender/Stock.Indicators/discussions/446#discussioncomment-2707700_

[2022-05-08 09:04] August1328 opened #228 "What´s the right way to create the iterable "quotes" list from a dataframe?"
I use another python TA module and wanted to compare it with this module, but I am already having problems at the beginning.

I can download historical quotes from IBKR into a dataframe "hist_quotes". The df looks like this:

The quotes parameter has be of type "Iterable[Quote]", so I converted the df to a list:
`quotes = hist_quotes.values.tolist()`

and then call the indicator
`results = indicat

[2022-05-08 09:57] LeeDongGeon1996 commented on #228
@August1328  Hi, thank you for using our library.
I guess you are passing just a list form of dataframe, but we have our own [Quote](https://daveskender.github.io/Stock.Indicators.Python/guide/#historical-quotes) class. You have to pass the list of `Quote`.

This comment may be helpful to you:
 - https://github.com/DaveSkender/Stock.Indicators.Python/issues/197#issuecomment-1081827860

[2022-05-08 10:17] August1328 commented on #228
Thanks, I missed this comment due to the different subject.

The calculation works fine now.

[2022-05-08 10:18] LeeDongGeon1996 commented on #228
Good to hear that :)

[2022-05-08 10:18] #228 closed

[2022-05-08 10:22] LeeDongGeon1996 commented on #227
@August1328 Please let us know, if you'd like to contribute on this. We can wait for it, if you need time to learn GitHub.

[2022-05-08 20:43] DaveSkender commented on #227
Might be good to also add a note in the Guide about dataframe conversion.  That seems to be a common thing.  @LeeDongGeon1996 is dataframe something we want to accept as an alternative input form?

[2022-05-09 07:15] LeeDongGeon1996 commented on #227
Right. In most of use-cases in Python, people use Pandas dataframe, so It would be good to add in Guide.
Actually, I'm worrying about performance to convert them, so thinking about C-extension for Python to convert them faster.

*From Numpy docs: https://numpy.org/doc/stable/user/c-info.python-as-glue.html#calling-other-compiled-libraries-from-python)*

Do you think it is the case of above?

[2022-05-30 07:51] LeeDongGeon1996 opened #236 "Release v0.8.0"
New features are almost ready to be released.

Here's the checklist for releasing v0.8.0:
 - [x] Add remaining indicators.
 - [x] Write corresponding documentation and review. (#231  )
 - [x] Add docstrings.
 - [x] Update benchmarks.(#233  )
 - [x] Final sanity check and code style.
 - [x] Release to PyPI.
 - [x] Apply release description to tag.

[2022-06-08 18:03] #227 closed

[2022-08-10 12:03] DaveSkender opened #244 "error: "PeriodSize" is not defined"
I wrote the pivot points code with python in vscode but vscode had some error in indicator parameter defining.
![p1](https://user-images.githubusercontent.com/110600525/183849884-f33228ee-3e66-486d-9fbb-599f604c335d.JPG)

What's my mistake?

_Originally posted by @Gadirino in https://github.com/DaveSkender/Stock.Indicators/discussions/274#discussioncomment-3364313_

[2022-08-10 12:05] DaveSkender commented on #244
@LeeDongGeon1996 have a moment to take look?

[2022-08-10 15:48] LeeDongGeon1996 commented on #244
@Gadirino  Hi, thank you for reporting. I think it needs to be updated for better UX.
In your case, this would be the solution. :)
`from stock_indicators.indicators.common.enums import PeriodSize, PivotPointType`

[2022-08-11 07:39] Gadirino commented on #244
Hi @LeeDongGeon1996 @DaveSkender
Thank you for your answers.

[2022-08-16 13:23] #244 closed

[2022-08-22 13:05] sensharma opened #254 "RuntimeError: Could not find libmono"
### The problem

Using python 3.9 and stock-indicators v0.8.1, installed using pip on Ubuntu 20.04, I get

Error message(s):
[code]
The problem seems to originate from `pythonnet` (pip automatically installs v3.0.0a1 for me). Traceback below.

### To Reproduce
Simply using import statements such as `import stock_indicators` or `from stock_indicators.indicators.common.quote import Quote`

### Full

[2022-08-22 13:20] LeeDongGeon1996 commented on #254
@sensharma Thank you for detail report.
To use our library, make sure that you have CLR runtime on your machine.
You can download from here:
 - https://dotnet.microsoft.com/en-us/download/dotnet

[2022-08-22 18:26] sensharma commented on #254
@LeeDongGeon1996 Hi, I first installed the ASP.NET runtime as per instructions [here](https://docs.microsoft.com/en-us/dotnet/core/install/linux-ubuntu#2004), following from the link you provided. When that did not work, I installed the full .NET sdk. Also tried uninstalling and re-installing stock-indicators after installing the runtime and sdk. But I keep getting the same error. What am I missin

[2022-08-22 20:26] sensharma commented on #254
Ok, I have managed to sort this issue out by installing pythonnet separately using conda as mentioned [here](https://github.com/pythonnet/pythonnet/wiki/Installation#conda-anaconda), before installing stock-indicators using `pip`.

This automatically installs `mono` within the virtual environment. No .NET runtime/sdk required separately. `pip` dependencies, either for stock-indicators or pythonnet

[2022-08-22 20:26] #254 closed

[2022-08-22 20:58] DaveSkender opened #255 "add prerequisite installs to documentation"
As a follow to #254, add a list of things to install with links to download, to the "getting started" portion of the documentation.

[2022-08-27 05:22] LeeDongGeon1996 commented on #255
No doubt that it's important issue for our user. But, based on my experience, it's not quite easy to troubleshoot for installing pythonnet v2.x.x(Even [their docs](https://github.com/pythonnet/pythonnet/wiki/Troubleshooting-on-Windows,-Linux,-and-OSX) are complicated). And I think it has become very improved on v3.x.x, on which our next version dependent. With that said, I think it's better to rel

[2022-08-27 05:45] DaveSkender commented on #255
Sounds good to me

[2022-08-28 06:36] #187 closed

[2022-09-04 11:09] LeeDongGeon1996 commented on #82
Fixed.

[2022-09-04 11:09] #82 closed

[2022-10-02 17:08] LeeDongGeon1996 opened #271 "Release v1.0.0"
The version 1.0.0 is ready to be released.

Here's the checklist for releasing v1.0.0:
 - [x] Add/check all of the features of v1, such as new indicators or new params.
 - [x] Write corresponding documentation and review. (#273  )
   - [x] https://github.com/DaveSkender/Stock.Indicators.Python/issues/255
 - [x] Add docstrings.
 - [x] Update benchmarks.( #Included in updating docs )
 - [x] Final sa

[2022-10-02 17:15] LeeDongGeon1996 commented on #271
@DaveSkender Now, I'm going to update our docs. while doing that, Could you please double-check that all the features, which have to be included, are in? I've already check it, but want to make sure.

[2022-10-02 19:57] DaveSkender commented on #271
Looks pretty good on my quick scan.  There are a few new indicators that I've added in v2 that'll still work here, but we can add those later.

[2022-10-03 15:48] LeeDongGeon1996 commented on #271
Yes, I prefer to add these new indicators in future version.

[2022-10-09 02:04] onuroruc opened #277 "Having Issue with Setup"
I installed the library with "pip install stock-indicators". However, when I try to import the library, it get a report like below:

---------------------------------------------------------------------------
OSError                                   Traceback (most recent call last)
/var/folders/zw/301wrgp50nb4395pkp_f9xrm0000gn/T/ipykernel_58482/357114019.py in <module>
----> 1 from stock_indica

[2022-10-09 08:19] LeeDongGeon1996 commented on #277
Hi😀 @onuroruc , there are two solutions you should try:
1. Make sure that you have Mono runtime installed.
2. Check your `clr-loader` version using `pip list` command, and downgrade to 0.1.7.

[2022-10-13 10:12] fede72bari opened #282 "'Assembly' object is not subscriptable error importing "indicators""
### The problem

I have installed stock_indicators using pip from jupyter/anaconda environment and the installation ended successfully. Regretfully, when I try to import "indicators" I got an error. The attempts to restart the kernel and restart the full anaconda environment after the library installation have been unsuccessful.

PS: repeated all the installation operations by the command line. No

[2022-10-13 13:26] DaveSkender commented on #282
May be related to #277
@LeeDongGeon1996 I saw some work you were doing for vNext, are we changing how we’re handling dependencies?

[2022-10-13 21:54] fede72bari commented on #282
before i downgrade something that could badly affect other parts of my code, may I ask which possible cause appear to be similar to the case you have mentioned? I am a beginner, but the final parts of the two errors appear to be very different to me. In this one no mention of "Mono" and in the other one no mention of "func = _LOADER_ASSEMBLY["Python.Runtime.Loader.Initialize"]" and no mention to "

[2022-10-16 05:37] LeeDongGeon1996 commented on #282
On version <=0.8.1, We support Mono and .NET runtime both and we have dependency on pythonnet to achieve it. pythonnet uses internally clr-loader to load clr, such as .NET runtime or Mono. Depend on which your system is, clr-loader tries to load default CLR(e.g. default clr on Linux is Mono). How they load various CLR is abstracted by them. Anyway, clr-loader had been updated to v0.2.3 and it is c

[2022-10-16 06:12] LeeDongGeon1996 commented on #282
FYI, probably in the next week we are going to release official `stock-indicators` for python v1.0.0. And it supports only .NET6 and dropped Mono support. It is much more reliable and faster than now.

[2022-10-18 13:19] traderblakeq commented on #282
Got same issua

[2022-10-18 13:19] traderblakeq commented on #282
got same issue

[2022-10-18 13:23] traderblakeq commented on #282
pip install pythonnet -U

Solved it for me.

[2022-10-18 13:41] LeeDongGeon1996 commented on #282
@traderblakeq  Thanks for your helpful comment :)

[2022-10-19 11:41] LeeDongGeon1996 commented on #271
@DaveSkender Seems like only you have the permission to create tag. Could you create tag 1.0.0?

[2022-10-19 20:04] DaveSkender commented on #271
done

[2022-10-20 03:25] LeeDongGeon1996 commented on #271
All is done~~~!!🥳

[2022-10-20 03:25] #271 closed

[2022-10-20 03:29] #277 closed

[2022-10-20 03:29] #282 closed

[2022-10-20 03:30] #255 closed

[2022-10-31 13:44] Abdulhadi77 opened #289 "How to pass pandas dataframe to indicators.get_zig_zag?"

[2022-11-03 15:03] #289 closed

[2022-11-20 03:48] haluu0902 opened #294 "Error getting all is None when using ZigZag Indicator"
Hi.

I have been using your libraries for a while and they are working fine until today.

Everything is still the same and I have not edited a single piece of code. 2-3 days ago it was working fine but now it returns all None when using: indicators.get_zig_zag.

Looking forward to your support.

Thanks very much.

[2022-11-20 04:10] DaveSkender commented on #294
This can happen in certain combinations of quotes and parameters.
Can you provide those so we can review?

Also, have you upgraded the package version lately?

[2022-11-20 04:27] haluu0902 commented on #294
[code]

Here is my entire code
and stock-indicators version is 1.0.0

Thank you

[2022-11-20 21:38] DaveSkender commented on #294
Do you see anything odd in `quotes_list` or `data.csv` to indicate some bad data going into the zigzag analysis?  I’m also seeing results being transformed multiple times, does the original output have this problem?

[2022-11-21 05:08] haluu0902 commented on #294
![image](https://user-images.githubusercontent.com/40897517/202970033-cd479d2c-aac0-4559-94d4-2e6c40d26c31.png)

The data is complete and nothing is missing

[2022-11-21 05:36] DaveSkender commented on #294
It’s hard to say what’s happening if it were working, then suddenly stopped.  If you did not change the library version in that time, it’s not likely the library itself that is the problem.  It’s static code.

Since you’re using smaller time periods, try reducing the `percent_change` parameter value.  If it’s too large, you’ll never get any initialization or triggered reversals.

[2022-11-27 15:46] DaveSkender commented on #294
@haluu0902 are you still seeking support on this issue?
Let us know if you need further assistance.

[2022-11-27 15:46] #294 closed